---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Blog"
	description="Music instruments store"
>
	<main class="contenedor">
		<h1 class="heading">Blog</h1>
	</main>
</Layout>

<style>
</style>
