---
import Layout from '../layouts/Layout.astro';

const url = `${import.meta.env.PUBLIC_API_URL}/products`;
const respuesta = await fetch(url);
const { data } = await respuesta.json();
---

<Layout 
	title="Tienda"
	description="Music instruments store"
>
	<main class="contenedor">
		<h1 class="heading">Tienda virtual</h1>

		<div class="grid">
			{data?.map(product => (
				<h1>{product.attributes.name}</h1>
			))}
		</div>
	</main>
</Layout>

<style>
</style>
