---
export interface Props {
    title: string;
    content: string;
    image: ImageClass;
}

export interface ImageClass {
    data: Data;
}

export interface Data {
    id: number;
    attributes: DataAttributes;
}

export interface DataAttributes {
    name: string;
    alternativeText: null;
    caption: null;
    width: number;
    height: number;
    formats: Formats;
    hash: string;
    ext: EXT;
    mime: MIME;
    size: number;
    url: string;
    previewUrl: null;
    provider: string;
    provider_metadata: ProviderMetadata;
    createdAt: Date;
    updatedAt: Date;
}

export enum EXT {
    PNG = ".png",
}

export interface Formats {
    small: Medium;
    medium: Medium;
    thumbnail: Medium;
}

export interface Medium {
    ext: EXT;
    url: string;
    hash: string;
    mime: MIME;
    name: string;
    path: null;
    size: number;
    width: number;
    height: number;
    provider_metadata: ProviderMetadata;
}

export enum MIME {
    ImagePNG = "image/png",
}

export interface ProviderMetadata {
    public_id: string;
    resource_type: ResourceType;
}

export enum ResourceType {
    Image = "image",
}

export interface Meta {
    pagination: Pagination;
}

export interface Pagination {
    page: number;
    pageSize: number;
    pageCount: number;
    total: number;
}

const { title, content, image } = Astro.props;
const backgroundImage = `url(${image.data.attributes.url})`;

---

<style define:vars={{backgroundImage}}>
    .curso{
        background-image: linear-gradient(to right, rgb(0 0 0 / .65), rgb(0 0 0 / .85)), var(--backgroundImage);
    }
</style>

<section class="curso">
    <div class="contenedor grid">
        <div class="contenido">
            <h2 class="heading">{title}</h2>
            <p>{content}</p>
        </div>
    </div>
</section>

<style>
    .curso {
        padding: 10rem 0;
        margin-top: 10rem;
        background-size: cover;
        background-position: center center;
    }
    @media (min-width: 768px) {
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .contenido {
            grid-column: 2 / 3;
        }
    }
    .curso p {
        text-align: center;
        font-size: 2.4rem;
        color: var(--white);
    }
</style>
